<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hfrgen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <hfrgen.Properties.Settings>
            <setting name="FilePluginAvsi" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePluginDll1" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePluginDll2" serializeAs="String">
                <value />
            </setting>
            <setting name="UseFolderPlugin" serializeAs="String">
                <value>False</value>
            </setting>
        </hfrgen.Properties.Settings>
    </userSettings>
</configuration>